* {
  font-family: sans-serif;
}

#nav-bar {
  width: 90%;
  height: 10%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar i {
  font-size: 1rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.63);
  padding: 15px;
  border-radius: 50%;
}

#nav-bar h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 0, 0, 0.63);
  font-size: 6vw;
  text-align: center;
}

#nav-bar i:nth-child(2) {
  padding: 15px 20px;
}

.nav-icons {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}

#navbar-search input {
  width: 450px;
  height: 70px;
  border: none;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  opacity: 0.8;
  padding-left: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}
/* search for nav bar */

#container {
  width: 100%;
  margin: 0 auto;
  background-color: #f1f2f2;
  background: url(./assest/01-Tomatoes.webp);
  background-size: cover;
  min-height: 750px;
  overflow: hidden;
}
#container h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 200px;
}
#search-items {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}
.style-input {
  width: 900px;
  height: 100px;
  background-color: #f1f2f2;
  border: none;
  opacity: 0.8;
  padding-left: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.style-button {
  height: 100px;
  opacity: 0.8;
  width: 50px;
  border: none;
  font-size: 38px;
  color: rgba(0, 0, 0, 0.653);
  font-weight: 200;
  padding-bottom: 6px;
}
button:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

.hide {
  display: none;
}

#surprise-meal {
  position: absolute;
  left: 38%;
  font-size: 35px;
  font-weight: bolder;
  margin: 10px;
}
#surprise-meal:hover {
  text-decoration: underline;
  color: #f1f1f1;
}

#recipie {
  width: 80%;
  margin: 0 auto;
  background-color: gray;
  height: 750px;
}

#recipie-Container {
  display: flex;
  width: 80%;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 950px;
  gap: 10px;
}
#recipie-Container h4 {
  color: rgba(255, 0, 0, 0.63);
  font-size: 2.5rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
}

.scroll {
  overflow-y: scroll;
}

/* styling cards */
.recipe-card {
  width: 400px;
  height: 500px;
  margin: 25px;
  background-color: #f1f2f2;
  padding: 10px;
  border-radius: 10px;
}
.recipe-card:hover {
  box-shadow: 0px 2px 15px #4d4d4d;
}

img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  height: 350px;
  width: 400px;
}
h3 {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 10px;
}
h3 span {
  color: rgba(255, 0, 0, 0.63);
}
.link {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  height: 40px;
}

#get-recipie {
  background-color: rgba(255, 0, 0, 0.63);
  color: white;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
  padding-left: 10px;
}
li a {
  color: rgba(255, 0, 0, 0.63);
  font-size: 20px;
  padding-top: 20px;
}
p {
  color: rgba(255, 0, 0);
  font-size: 20px;
  text-align: justify;
  position: relative;
  bottom: 17px;
  z-index: 0;
}
/* meal details */
#meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f2f2;
  background-color: rgba(255, 0, 0);
  border-radius: 1rem;
  width: 60%;
  height: 60%;
  overflow-y: scroll;
  padding: 3rem;
  text-align: center;
  animation: popup 0.5s;
  z-index: 1;
}
@keyframes popup {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.meal-details-content {
  margin: 2rem;
}
.btn-recipe-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background-color: #f1f2f2;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}
.recipe-category {
  background: #fff;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.63);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  margin-top: 50px;
}

.recipe-instruction {
  padding: 10px;
  color: #f1f2f2;
}

.recipe-instruction p {
  color: #f1f2f2;
}
.recipe-instruction h3 {
  text-align: center;
}

.recipe-meal-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.recipe-link {
  margin: 1.4rem 0;
}

.recipe-link a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-link a:hover {
  opacity: 0.8;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.361);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.76);
}

.blur {
  opacity: 0.1;
}

/* top five container */

#top-recipes-title {
  text-align: center;
  font-size: 40px;
  margin: 50px 0px;
  color: #4d4d4d;
}

#top-five {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
  text-align: center;
  color: #4d4d4d;
}
#top-five img {
  width: 60%;
  height: auto;
  border-radius: 50%;
}

#recipe-card {
  cursor: pointer;
}

#recipe-card:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}

@media screen and (max-width: 600px) {
  #nav-bar h3 {
    font-size: 25px;
  }
  .nav-icons {
    display: none;
  }
  .style-input {
    width: 200px;
    height: 79px;
    font-size: 1rem;
  }
  .style-button {
    width: 70;
    height: 80px;
    font-size: 1rem;
    border: none;
    background-color: black;
    color: #f1f2f2;
  }

  #container {
    min-height: 250px;
    padding-bottom: 30%;
  }

  #container h1 {
    font-size: 40px;
  }
  #surprise-meal {
    font-size: 20px;
    left: 30%;
  }
  #top-recipes-title {
    font-size: 30px;
  }
  #recipe-card img {
    width: 200px;
  }
  #navbar-search input {
    width: 200px;
    height: 70px;
  }
  .recipe-card {
    width: 300px;
    height: fit-content;
  }
  .card-heading {
    font-size: 20px;
  }
  .recipe-meal-img img {
    width: 150px;
    height: auto;
  }
  .recipe-title {
    font-size: 20px;
  }
  .recipe-category {
    font-size: 16px;
    padding-bottom: 0%;
  }
  .recipe-instruction h3 {
    font-size: 25px;
  }
  .recipe-instruction {
    width: 250px;
    text-align: center;
    margin: 0%;
    padding: 0%;
  }
}
